html, body {
  height:100%;
  margin-top:0;
  margin-bottom:0;
}

div#container {
        height: 1px;
        width: 100%;
        overflow: scroll;
        flex-grow: 1;
        flex-shrink: 1;
      }

div#main {
  display: flex;
  flex-direction: column;
  height:100%
}

svg#flovw{
  height: 100px;
  width: 1100px;
}

text.icon{
  font: 12px sans-serif;
}

.arrow{
  stroke: darkgrey;
  stroke-width:2;
  fill:none
}
